@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0cm;
  padding: 0cap;
}
body{
  background-color: none;
  background-image: linear-gradient(to left, #5EFCE8 10%, #736EFE 100%);
  
}
html {
scroll-behavior: smooth;
}
h1{
font-weight: 400;
font-size: 200%;
}
h2{
  font-size: x-large;
}
@media only screen and (max-width: 480px){
h2{
  font-size: 16px;
}
}
